.evidance {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}

.CardeEvid {
  height: 100px;
  width: 250px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CardeEvid:hover {
  box-shadow: -10px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -10px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 5px 14px 0px rgba(0, 0, 0, 0.75);
}
.links1 {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: black !important;
}
