.fileView {
  width: 100% !important;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.fileView1 {
  margin: 12px;
  width: 40%;
  height: 65vh;
  background-color: rgba(173, 216, 230, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fileViewhead {
  padding: 0 35px ;
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row;
  /* background-color: red; */
}
.tit{
  letter-spacing: 1px;
  text-transform: capitalize;
 }
.newFilebtn1 {
  display: flex;
  justify-content: center !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 0px 32px 0px 8px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.432);
}

.newFilebtn1 p {
  margin-left: 10px;
  font-size: 15px !important;
  font-weight: bold;
  padding-top: 10px;
}
.fileViewbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.fileView__titles {
  display: flex;
  margin-bottom: 5px;
  color: rgb(85, 78, 78);
}

.fileView__titles > div > * {
  margin: 5px;
}

.fileView__titles--left {
  flex: 1;
}

.fileView__titles--right {
  display: flex;
}
