.fileView {
  width: 100% !important;
  padding: 10px;
}
.fileView1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fileView2 {
  margin: 10px;
  width: 42%;
  height: 450px;
  background-color: rgba(173, 216, 230, 0.1);
  border: 1px solid black;
  border-radius: 15px;
}
.fileViewhead {
  padding: 0 35px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row;
}
.fileViewcontent {
  height: 330px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.tit {
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
}
.newFilebtn1 {
  display: flex;
  justify-content: center !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 0px 32px 0px 8px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.432);
}

.newFilebtn1 p {
  margin-left: 10px;
  font-size: 15px !important;
  font-weight: bold;
  padding-top: 10px;
}

.drop-file-input {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px dashed black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-bg);
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdel {
  background-color: rgba(211, 211, 211, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 20%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .dropdel {
  opacity: 1;
}
